# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Expo / React Native
# =========================
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# =========================
# Environment variables
# =========================
.env
.env*.local

# =========================
# Android / Native
# =========================
.gradle/
build/
local.properties
.kotlin/
*.orig.*
*.aab
*.apk
output-metadata.json
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# =========================
# Android Studio / IntelliJ
# =========================
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# =========================
# Logs / Debug
# =========================
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# =========================
# Metro
# =========================
.metro-health-check*

# =========================
# OS files
# =========================
.DS_Store
*.pem

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Misc
# =========================
app-example
